@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;700&display=swap');

:root {
  --size: 8;
  --font01: "Asap Condensed", sans-serif;
  --hue00: #0d2b45;
  --hue01: #203c56;
  --hue02: #544e68;
  --hue03: #8d697a;
  --hue04: #d08159;
  --hue05: #ffaa5e;
  --hue06: #ffd4a3;
  --hue07: #ffecd6;
}

* {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  line-height: 1;
  transition: 0.4s;
  scroll-behavior: smooth;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  color: #FFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nobar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  padding: 8px;
  background: var(--hue02);
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #8d697a99;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hue03);
}

h1 {
  font-size: 240%;
  font-weight: normal;
  font-family: var(--font01);
}

h2 {
  font-size: 210%;
  font-weight: normal;
  font-family: var(--font01);
}

h3 {
  font-size: 180%;
  font-weight: normal;
  font-family: var(--font01);
}

h4 {
  font-size: 150%;
  font-weight: normal;
  font-family: var(--font01);
}

p {
  font-size: 120%;
  font-weight: normal;
}

h5 {
  font-size: 80%;
  font-weight: normal;
}

h6 {
  font-size: 70%;
  font-weight: normal;
}

.test {
  border: 2px dashed red;
}

html,
body,
main {
  width: 100vw;
  height: 100%;
  background-color: #666;
}

main header,
main nav,
main article {
  width: 100%;
}

main nav {
  height: 48px;
}