.container
    width: 100vw

    display: grid
    grid-template-columns: 100%
    grid-template-rows: 100%

.card
    display: grid
    grid-template-columns: 40% 45% 15%
    grid-template-rows: 100%

    width: 80%
    height: 80px
    min-width: 240px
    max-width: 500px

    margin: 4px

    border-radius: 8px 8px 12px 12px
    border-bottom: 3px solid #ffd4a3
    
    position: relative
    overflow: hidden
    
    opacity: 0.7
    scale: 0.99
    
    background-color: #ffecd6
    box-shadow: 0 4px 8px -2px #d08159

.card:hover
    opacity: 1
    scale: 1

.img
    width: 120px
    background-color: #8d697a
    filter: saturate(1)

.name
    width: 100%
    padding: 8px

.name p
    color: #0d2b45
    text-align: center
    text-wrap: pretty
    font-size: 14px

.add
    width: 40px

    display: grid
    justify-self: center

    cursor: pointer

    border: none
    border-left: 1px solid #ffaa5e

    background-color: transparent

.button
    border: none
    height: 80px
    background-color: transparent

.svg
    width: 32px
    margin: 8px
    cursor: pointer

.messsage
    width: 100%
    position: absolute
    bottom: -100%
    display: flex
    background: #ffecd6EE
    font-weight: bold

.join
    height: 100%
    bottom: 0

.text
    color: #0d2b45
    font-weight: bold